In [1]:
import sys
print(sys.version)

3.5.5 |Anaconda, Inc.| (default, May 13 2018, 21:12:35)
[GCC 7.2.0]

In [2]:
import numpy as np 
import pandas as pd

In [38]:
cars_df              = pd.read_csv("../data/Cars_.csv") 
cleaned_combined_df  = pd.read_csv("../data/cleaned_combined.csv", index_col=0)
data_df              = pd.read_csv("../data/dataset0302.csv")

org_sales_per_quarter_df = pd.read_excel("../data/Original_Data/Automative Sales per quarter in North America.xlsx")
org_index_df             = pd.read_excel("../data/Original_Data/indexes for automatovie sector.xlsx")
org_marketshare_df       = pd.read_excel("../data/Original_Data/Market share per quarter for major automative industry.xlsx")
org_ratio_df             = pd.read_excel("../data/Original_Data/ratios for automotive sector players.xlsx")
org_saartot_df           = pd.read_excel("../data/Original_Data/saartot-2000-2019.xlsx",sheet_name="Sheet1",header=None)

In [6]:
cars_df.head()

,date,Audi,BMW,Mini,Mercedes Benz,Mitsubishi Fuso,FCA,Honda Group,Hyundai,Isuzu,...,Mitsubishi,Nissan,Porsche,Subaru,Tesla,Toyota Group,Volkswagen,Volvo,year,month
0,Jan 2019,14253,18102,2457.0,23721,0.0,136082.0,106139,42020,265,...,8708,100741,5419.0,46072,18411.0,156021,23074,5854,2019,Jan
1,Dec 2018,22765,34357,2797.0,36132,4.0,196520.0,155115,65721,534,...,8986,148720,4086.0,64541,24712.0,220910,32047,8826,2018,Dec
2,Nov 2018,17082,28330,3528.0,32879,3.0,181310.0,120534,57499,415,...,7688,110513,5673.0,56782,16843.0,190423,26789,8181,2018,Nov
3,Oct 2018,16056,23262,3166.0,31719,4.0,177391.0,122182,53025,387,...,8002,109962,4817.0,55394,17851.0,191102,29000,7327,2018,Oct
4,Sep 2018,19319,25908,3461.0,30617,3.0,199819.0,132668,57359,415,...,7705,122819,5102.0,57044,15175.0,203098,30555,8715,2018,Sep

In [9]:
cleaned_combined_df.head()

  Manufaturer    Sales  Year Quarter  Index  Ratio
0     AUDI AG  14253.0  2019      Q1    NaN    NaN
1     AUDI AG  22765.0  2018      Q4    NaN    NaN
2     AUDI AG  17082.0  2018      Q4    NaN    NaN
3     AUDI AG  16056.0  2018      Q4    NaN    NaN
4     AUDI AG  19319.0  2018      Q3    NaN    NaN

In [10]:
cars_df.head()

,date,Audi,BMW,Mini,Mercedes Benz,Mitsubishi Fuso,FCA,Honda Group,Hyundai,Isuzu,...,Mitsubishi,Nissan,Porsche,Subaru,Tesla,Toyota Group,Volkswagen,Volvo,year,month
0,Jan 2019,14253,18102,2457.0,23721,0.0,136082.0,106139,42020,265,...,8708,100741,5419.0,46072,18411.0,156021,23074,5854,2019,Jan
1,Dec 2018,22765,34357,2797.0,36132,4.0,196520.0,155115,65721,534,...,8986,148720,4086.0,64541,24712.0,220910,32047,8826,2018,Dec
2,Nov 2018,17082,28330,3528.0,32879,3.0,181310.0,120534,57499,415,...,7688,110513,5673.0,56782,16843.0,190423,26789,8181,2018,Nov
3,Oct 2018,16056,23262,3166.0,31719,4.0,177391.0,122182,53025,387,...,8002,109962,4817.0,55394,17851.0,191102,29000,7327,2018,Oct
4,Sep 2018,19319,25908,3461.0,30617,3.0,199819.0,132668,57359,415,...,7705,122819,5102.0,57044,15175.0,203098,30555,8715,2018,Sep

In [11]:
org_sales_per_quarter_df.head()

,Description,Ticker,Field ID,Field Mnemonic,Data State,2018 Q4,2018 Q3,2018 Q2,2018 Q1,2017 Q4,...,2006 Q3,2006 Q2,2006 Q1,2005 Q4,2005 Q3,2005 Q2,2005 Q1,2004 Q4,2004 Q3,2004 Q2
0,By Geography ($M) - Toyota,7203 JP Equity,IS010,SALES_REV_TURN,Dynamic,69206.03296,65578.04288,67484.94541,70002.28365,67379.55935,...,50176.866000,49322.738090,49199.278210,45491.23109,44699.42604,46327.896530,46710.248810,43961.84025,41080.55018,41135.59266
1,North America,7203 JP Equity,BI047,BICS_SEGMENT_DATA,Dynamic,23606.33773,23341.73636,25255.14253,22728.04798,24422.56068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,By Geography ($M) - Volkswagen,VOW GR Equity,IS010,SALES_REV_TURN,Dynamic,69915.57964,64190.44523,72901.23101,71561.40746,70449.91328,...,32036.685150,33410.990330,30484.055630,29816.98419,28622.25351,30943.073330,27354.748540,29365.39092,25905.10125,28329.41195
3,North America,VOW GR Equity,BI047,BICS_SEGMENT_DATA,Dynamic,NaN,11237.97940,10723.74974,10735.00995,12158.96394,...,4423.555341,4387.276342,4389.068751,NaN,NaN,4151.590897,3525.373535,NaN,NaN,NaN
4,By Geography ($M) - GM,GM US Equity,IS010,SALES_REV_TURN,Dynamic,38399.00000,35791.00000,36760.00000,36099.00000,37715.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
org_marketshare_df.head()

,Description,Ticker,Field ID,Field Mnemonic,Data State,2019 Q1,2018 Q4,2018 Q3,2018 Q2,2018 Q1,...,2006 Q3,2006 Q2,2006 Q1,2005 Q4,2005 Q3,2005 Q2,2005 Q1,2004 Q4,2004 Q3,2004 Q2
0,Global Vehicle Sales (units),NaN,NaN,NaN,Heading,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,by Region/ Country of Sale (units),AUTMTVSA Index,NaN,NaN,Sum,4868119.0,16056166.0,15085594.0,16374572.0,20618349.0,...,14063631.0,14771147.0,14350131.0,13049800.0,13847413.0,14615928.0,13479023.0,12916706.0,13011853.0,13654117.0
2,Asia Pacific,AUTMASBS Index,NaN,NaN,Sum,3020556.0,10208093.0,8976171.0,9372976.0,9980596.0,...,4311371.0,4342671.0,4784259.0,4263256.0,4110318.0,4219666.0,4344460.0,3999258.0,3826199.0,3756323.0
3,Australia,AUTMAUVS Index,PX385,INTERVAL_SUM,Dynamic,NaN,NaN,NaN,NaN,NaN,...,194992.0,188660.0,190945.0,193475.0,199855.0,196925.0,201515.0,197669.0,190060.0,187870.0
4,China,CNVSTTL Index,PX385,INTERVAL_SUM,Dynamic,2367278.0,7589411.0,6386536.0,6879927.0,7183073.0,...,1630166.0,1798010.0,1731494.0,1622392.0,1347879.0,1520045.0,1267075.0,1342979.0,1167309.0,1274162.0

In [13]:
org_index_df.head()

,Description,Ticker,Field ID,Field Mnemonic,Data State,2019 Q1,2018 Q4,2018 Q3,2018 Q2,2018 Q1,...,2006 Q3,2006 Q2,2006 Q1,2005 Q4,2005 Q3,2005 Q2,2005 Q1,2004 Q4,2004 Q3,2004 Q2
0,T12M EPS,NaN,NaN,NaN,Average,NaN,4.365867,3.314020,3.198872,3.212688,...,1.647178,1.61995,1.392062,2.079998,3.112837,3.392496,3.333905,3.625038,2.418336,2.385
1,AUDI AG,NSU GR Equity,RR844,T12M_DIL_EPS_CONT_OPS,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avtovaz PJSC,AVAZ RM Equity,RR844,T12M_DIL_EPS_CONT_OPS,Dynamic,NaN,NaN,0.003483,-0.005844,-0.015278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bayerische Motoren Werke AG,BMW GR Equity,RR844,T12M_DIL_EPS_CONT_OPS,Dynamic,NaN,NaN,14.871762,15.678870,15.615171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brilliance China Automotive Holdings Ltd,1114 HK Equity,RR844,T12M_DIL_EPS_CONT_OPS,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
org_ratio_df.head()

,Description,Ticker,Field ID,Field Mnemonic,Data State,2019 Q1,2018 Q4,2018 Q3,2018 Q2,2018 Q1,...,2006 Q3,2006 Q2,2006 Q1,2005 Q4,2005 Q3,2005 Q2,2005 Q1,2004 Q4,2004 Q3,2004 Q2
0,Price Ratios,NaN,NaN,NaN,Heading,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P/E,BRAUTOCV Index,NaN,NaN,Average,34.687064,36.354927,37.486505,16.321172,14.384378,...,62.248212,55.035709,16.195877,15.533521,17.593557,14.747598,20.336330,22.97241,53.767536,14.383343
2,AUDI AG,NSU GR Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Avtovaz PJSC,AVAZ RM Equity,RR900,PE_RATIO,Dynamic,496.563390,496.563390,479.175584,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bayerische Motoren Werke AG,BMW GR Equity,RR900,PE_RATIO,Dynamic,5.812445,5.624690,6.165679,5.872419,6.576656,...,9.997636,9.251185,11.346633,11.044776,11.815152,11.369369,10.513514,9.96997,10.659164,11.882353

In [48]:
org_saartot_df           = pd.read_excel("../data/Original_Data/saartot-2000-2019.xlsx",sheet_name="Sheet1",header=None)
org_saartot_df.drop([4],axis=1,inplace=True)
org_saartot_df.dropna(subset=[0],inplace=True)
print(len(org_saartot_df))
org_saartot_df = org_saartot_df.rename(index=str,columns={0:"Timestamp",1:"Value",2:"Absolute_change",3:"Percentage_change"})
org_saartot_df['Target'] = org_saartot_df["Absolute_change"].apply(lambda x: 1 if x>0 else 0)
y = org_saartot_df.Target
org_saartot_df.head()

230

   Timestamp  Value  Absolute_change  Percentage_change  Target
0 2019-02-28  16.56            -0.04            -0.0024       0
1 2019-01-31  16.60            -0.90            -0.0514       0
3 2018-12-31  17.50             0.10             0.0057       1
4 2018-11-30  17.40            -0.10            -0.0057       0
5 2018-10-31  17.50             0.10             0.0057       1

In [51]:
org_ratio_df

,Description,Ticker,Field ID,Field Mnemonic,Data State,2019 Q1,2018 Q4,2018 Q3,2018 Q2,2018 Q1,...,2006 Q3,2006 Q2,2006 Q1,2005 Q4,2005 Q3,2005 Q2,2005 Q1,2004 Q4,2004 Q3,2004 Q2
0,Price Ratios,NaN,NaN,NaN,Heading,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P/E,BRAUTOCV Index,NaN,NaN,Average,34.687064,36.354927,37.486505,16.321172,14.384378,...,62.248212,55.035709,16.195877,15.533521,17.593557,14.747598,20.336330,22.972410,53.767536,14.383343
2,AUDI AG,NSU GR Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Avtovaz PJSC,AVAZ RM Equity,RR900,PE_RATIO,Dynamic,496.563390,496.563390,479.175584,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bayerische Motoren Werke AG,BMW GR Equity,RR900,PE_RATIO,Dynamic,5.812445,5.624690,6.165679,5.872419,6.576656,...,9.997636,9.251185,11.346633,11.044776,11.815152,11.369369,10.513514,9.969970,10.659164,11.882353
5,Brilliance China Automotive Holdings Ltd,1114 HK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BYD Co Ltd,1211 HK Equity,RR900,PE_RATIO,Dynamic,48.006517,48.990009,55.091692,44.334703,41.733936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Chongqing Changan Automobile Co Ltd,200625 CH Equity,RR900,PE_RATIO,Dynamic,7.101755,5.877567,10.636055,7.770160,5.095228,...,11.759440,17.489595,25.860927,16.073351,11.499375,NaN,NaN,NaN,NaN,NaN
8,Daihatsu Motor Co Ltd,7262 JP Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,13.722105,12.909935,15.480272,17.789374,NaN,NaN,NaN,NaN,NaN,NaN
9,Daimler AG,DAI GR Equity,RR900,PE_RATIO,Dynamic,7.715886,6.782239,6.604575,6.361118,7.400890,...,8.572668,8.763636,13.991150,14.875862,18.395833,13.440000,14.794872,14.275304,13.498982,NaN
10,Dongfeng Motor Group Co Ltd,489 HK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,DRB-Hicom Bhd,DRB MK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,6.776965,6.236080,9.602519,...,NaN,NaN,NaN,10.300429,13.476395,9.832776,12.827586,8.081181,8.045977,6.885965
12,FAW CAR Co Ltd,000800 CH Equity,RR900,PE_RATIO,Dynamic,104.697742,86.099261,85.709083,132.652337,96.621103,...,12.474849,13.749032,16.394230,15.000000,40.428569,35.526314,32.600000,19.010417,18.048519,16.231553
13,Fiat Chrysler Automobiles NV,FCAU US Equity,RR900,PE_RATIO,Dynamic,4.732870,4.533141,5.399244,6.511330,6.510079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ford Motor Co,F US Equity,RR900,PE_RATIO,Dynamic,6.874452,6.037837,7.257982,7.902458,6.575504,...,816.000000,693.000000,15.018868,7.958763,10.164948,6.872483,6.950920,6.938389,5.564356,6.561845
15,Ford Otomotiv Sanayi AS,FROTOTRY EO Equity,RR900,PE_RATIO,Dynamic,11.497584,10.423920,12.953816,12.121593,13.249672,...,7.934803,8.223429,9.868421,10.384277,9.584480,9.636720,8.868474,6.908374,6.464903,3.922567
16,GAZ PJSC,GAZA RM Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Geely Automobile Holdings Ltd,175 HK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,General Motors Co,GM US Equity,RR900,PE_RATIO,Dynamic,5.285741,4.501796,4.607614,5.827700,5.246420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Great Wall Motor Co Ltd,2333 HK Equity,RR900,PE_RATIO,Dynamic,8.406568,5.925093,6.581535,7.334538,11.194273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Guangzhou Automobile Group Co Ltd,2238 HK Equity,RR900,PE_RATIO,Dynamic,7.293040,5.912501,6.560200,5.533914,7.325988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Honda Motor Co Ltd,7267 JP Equity,RR900,PE_RATIO,Dynamic,7.555427,6.998138,5.402985,5.303340,6.196280,...,11.648111,10.576436,11.228140,13.172961,12.162546,10.546022,10.315437,10.670815,10.798808,10.475792
22,Hyundai Motor Co,005380 KS Equity,RR900,PE_RATIO,Dynamic,NaN,11.915535,13.021619,10.367617,11.455257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Kia Motors Corp,000270 KS Equity,RR900,PE_RATIO,Dynamic,NaN,11.361293,12.066002,21.453408,19.595449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Mazda Motor Corp,7261 JP Equity,RR900,PE_RATIO,Dynamic,12.620169,11.134000,11.707150,8.757808,7.654422,...,15.681465,12.962595,14.038050,11.122096,10.607480,14.663994,9.724473,NaN,NaN,NaN
25,Mitsubishi Motors Corp,7211 JP Equity,RR900,PE_RATIO,Dynamic,8.693832,8.400781,10.752112,11.659844,10.535788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Nissan Motor Co Ltd,7201 JP Equity,RR900,PE_RATIO,Dynamic,7.634609,7.092387,5.803737,5.792771,5.781194,...,9.655669,9.779917,11.015425,9.640677,10.479248,9.061649,8.772350,NaN,NaN,NaN
27,Peugeot SA,UG FP Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Renault SA,RNO FP Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,SAIC Motor Corp Ltd,600104 CH Equity,RR900,PE_RATIO,Dynamic,8.863603,8.320742,10.382988,10.919896,11.081136,...,14.553073,15.710456,9.535519,9.821958,16.538461,13.782051,9.976905,7.865240,13.636485,14.055837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,FAW CAR Co Ltd,000800 CH Equity,RX539,T12_FCF_YIELD,Dynamic,8.059865,9.800893,9.845510,17.682486,12.477996,...,-5.041069,-9.470094,24.139241,46.383553,37.059848,18.685846,-18.435743,-48.870719,-18.334748,-0.698551
630,Fiat Chrysler Automobiles NV,FCAU US Equity,RX539,T12_FCF_YIELD,Dynamic,22.315272,23.269769,17.037320,18.768565,15.269125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,Ford Motor Co,F US Equity,RX539,T12_FCF_YIELD,Dynamic,20.884083,23.781701,24.492805,20.760114,23.059763,...,31.694033,35.114456,-14.105159,10.982680,36.741138,66.420046,84.399894,73.541222,44.942318,39.190033
632,Ford Otomotiv Sanayi AS,FROTOTRY EO Equity,RX539,T12_FCF_YIELD,Dynamic,6.919174,7.631849,7.378428,7.152459,7.004870,...,7.959751,10.503178,14.232442,10.713452,NaN,NaN,NaN,NaN,NaN,NaN
633,GAZ PJSC,GAZA RM Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,Geely Automobile Holdings Ltd,175 HK Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,General Motors Co,GM US Equity,RX539,T12_FCF_YIELD,Dynamic,11.732873,13.757255,15.686899,12.072317,13.242937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,Great Wall Motor Co Ltd,2333 HK Equity,RX539,T12_FCF_YIELD,Dynamic,0.254660,0.370205,0.278927,-3.454308,-5.452511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,Guangzhou Automobile Group Co Ltd,2238 HK Equity,RX539,T12_FCF_YIELD,Dynamic,-0.759880,-0.908210,-0.840967,2.702379,4.226491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,Honda Motor Co Ltd,7267 JP Equity,RX539,T12_FCF_YIELD,Dynamic,7.948538,8.581510,7.856807,10.006828,8.628595,...,2.284155,2.147085,1.803527,2.537136,5.654233,6.869747,7.474430,NaN,NaN,NaN
639,Hyundai Motor Co,005380 KS Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,7.928390,7.254936,5.511567,2.970353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,Kia Motors Corp,000270 KS Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,17.301077,16.290615,21.998520,13.979446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,Mazda Motor Corp,7261 JP Equity,RX539,T12_FCF_YIELD,Dynamic,8.172700,9.263594,11.303457,12.141121,13.586272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,Mitsubishi Motors Corp,7211 JP Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,Nissan Motor Co Ltd,7201 JP Equity,RX539,T12_FCF_YIELD,Dynamic,29.418687,31.667781,19.197856,19.587814,14.431345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,Peugeot SA,UG FP Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,Renault SA,RNO FP Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,SAIC Motor Corp Ltd,600104 CH Equity,RX539,T12_FCF_YIELD,Dynamic,-15.170377,-16.160120,-12.950433,-5.726299,2.937348,...,6.084646,10.948308,10.265668,9.271777,6.181353,-2.339095,5.147275,3.501871,1.442792,2.066602
647,Sanyang Motor Co Ltd,2206 TT Equity,RX539,T12_FCF_YIELD,Dynamic,-7.597897,-7.616891,-7.431114,-1.377830,-0.803879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,Sollers PJSC,SVAV RM Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,Ssangyong Motor Co,003620 KS Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,32.176849,27.771476,-1.558685,14.673095,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,Subaru Corp,7270 JP Equity,RX539,T12_FCF_YIELD,Dynamic,2.833580,3.412303,2.625776,4.204036,8.068293,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,Suzuki Motor Corp,7269 JP Equity,RX539,T12_FCF_YIELD,Dynamic,5.733622,5.950937,6.053513,8.788972,8.505923,...,3.644665,5.697845,5.332387,4.184336,5.486158,8.009229,7.956594,8.962082,9.087660,6.561948
652,Tata Motors Ltd,TTMT IN Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,Tesla Inc,TSLA US Equity,RX539,T12_FCF_YIELD,Dynamic,-0.005745,-0.005113,-2.633066,-5.804169,-8.691136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,Tianjin Faw Xiali Automobile Co Ltd,000927 CH Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,-29.555892,-27.735948,...,27.294695,10.639388,13.154525,16.221894,15.753908,15.778441,6.143034,0.093937,-6.040700,-0.686208
655,Tofas Turk Otomobil Fabrikasi AS,TOASOTRY EO Equity,RX539,T12_FCF_YIELD,Dynamic,10.460040,12.378746,-0.961375,9.397215,6.931871,...,-4.150985,8.460486,7.598547,9.312959,NaN,NaN,NaN,NaN,NaN,NaN
656,Toyota Motor Corp,7203 JP Equity,RX539,T12_FCF_YIELD,Dynamic,12.587891,13.204906,11.094837,10.807631,13.106859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,Volkswagen AG,VOW GR Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,-8.416557,-7.732007,-9.256971,-12.979014,...,31.985015,37.677129,23.586832,20.994830,11.504588,13.088328,15.760515,18.595476,NaN,NaN
658,Yulon Motor Co Ltd,2201 TT Equity,RX539,T12_FCF_YIELD,Dynamic,-114.096854,-118.798648,-99.637576,-84.684408,-70.357525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
cars_df["datetime"] = pd.to_datetime(cars_df['date'])
cars_df.head()

,date,Audi,BMW,Mini,Mercedes Benz,Mitsubishi Fuso,FCA,Honda Group,Hyundai,Isuzu,...,Nissan,Porsche,Subaru,Tesla,Toyota Group,Volkswagen,Volvo,year,month,datetime
0,Jan 2019,14253,18102,2457.0,23721,0.0,136082.0,106139,42020,265,...,100741,5419.0,46072,18411.0,156021,23074,5854,2019,Jan,2019-01-01
1,Dec 2018,22765,34357,2797.0,36132,4.0,196520.0,155115,65721,534,...,148720,4086.0,64541,24712.0,220910,32047,8826,2018,Dec,2018-12-01
2,Nov 2018,17082,28330,3528.0,32879,3.0,181310.0,120534,57499,415,...,110513,5673.0,56782,16843.0,190423,26789,8181,2018,Nov,2018-11-01
3,Oct 2018,16056,23262,3166.0,31719,4.0,177391.0,122182,53025,387,...,109962,4817.0,55394,17851.0,191102,29000,7327,2018,Oct,2018-10-01
4,Sep 2018,19319,25908,3461.0,30617,3.0,199819.0,132668,57359,415,...,122819,5102.0,57044,15175.0,203098,30555,8715,2018,Sep,2018-09-01

In [75]:
cars_df["month"] = cars_df['datetime'].dt.month
cars_df.head()

,date,Audi,BMW,Mini,Mercedes Benz,Mitsubishi Fuso,FCA,Honda Group,Hyundai,Isuzu,...,Nissan,Porsche,Subaru,Tesla,Toyota Group,Volkswagen,Volvo,year,month,datetime
0,Jan 2019,14253,18102,2457.0,23721,0.0,136082.0,106139,42020,265,...,100741,5419.0,46072,18411.0,156021,23074,5854,2019,1,2019-01-01
1,Dec 2018,22765,34357,2797.0,36132,4.0,196520.0,155115,65721,534,...,148720,4086.0,64541,24712.0,220910,32047,8826,2018,12,2018-12-01
2,Nov 2018,17082,28330,3528.0,32879,3.0,181310.0,120534,57499,415,...,110513,5673.0,56782,16843.0,190423,26789,8181,2018,11,2018-11-01
3,Oct 2018,16056,23262,3166.0,31719,4.0,177391.0,122182,53025,387,...,109962,4817.0,55394,17851.0,191102,29000,7327,2018,10,2018-10-01
4,Sep 2018,19319,25908,3461.0,30617,3.0,199819.0,132668,57359,415,...,122819,5102.0,57044,15175.0,203098,30555,8715,2018,9,2018-09-01

In [80]:
org_ratio_df[:1000]

,Description,Ticker,Field ID,Field Mnemonic,Data State,2019 Q1,2018 Q4,2018 Q3,2018 Q2,2018 Q1,...,2006 Q3,2006 Q2,2006 Q1,2005 Q4,2005 Q3,2005 Q2,2005 Q1,2004 Q4,2004 Q3,2004 Q2
0,Price Ratios,NaN,NaN,NaN,Heading,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P/E,BRAUTOCV Index,NaN,NaN,Average,34.687064,36.354927,37.486505,16.321172,14.384378,...,62.248212,55.035709,16.195877,15.533521,17.593557,14.747598,20.336330,22.972410,53.767536,14.383343
2,AUDI AG,NSU GR Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Avtovaz PJSC,AVAZ RM Equity,RR900,PE_RATIO,Dynamic,496.563390,496.563390,479.175584,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bayerische Motoren Werke AG,BMW GR Equity,RR900,PE_RATIO,Dynamic,5.812445,5.624690,6.165679,5.872419,6.576656,...,9.997636,9.251185,11.346633,11.044776,11.815152,11.369369,10.513514,9.969970,10.659164,11.882353
5,Brilliance China Automotive Holdings Ltd,1114 HK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BYD Co Ltd,1211 HK Equity,RR900,PE_RATIO,Dynamic,48.006517,48.990009,55.091692,44.334703,41.733936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Chongqing Changan Automobile Co Ltd,200625 CH Equity,RR900,PE_RATIO,Dynamic,7.101755,5.877567,10.636055,7.770160,5.095228,...,11.759440,17.489595,25.860927,16.073351,11.499375,NaN,NaN,NaN,NaN,NaN
8,Daihatsu Motor Co Ltd,7262 JP Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,13.722105,12.909935,15.480272,17.789374,NaN,NaN,NaN,NaN,NaN,NaN
9,Daimler AG,DAI GR Equity,RR900,PE_RATIO,Dynamic,7.715886,6.782239,6.604575,6.361118,7.400890,...,8.572668,8.763636,13.991150,14.875862,18.395833,13.440000,14.794872,14.275304,13.498982,NaN
10,Dongfeng Motor Group Co Ltd,489 HK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,DRB-Hicom Bhd,DRB MK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,6.776965,6.236080,9.602519,...,NaN,NaN,NaN,10.300429,13.476395,9.832776,12.827586,8.081181,8.045977,6.885965
12,FAW CAR Co Ltd,000800 CH Equity,RR900,PE_RATIO,Dynamic,104.697742,86.099261,85.709083,132.652337,96.621103,...,12.474849,13.749032,16.394230,15.000000,40.428569,35.526314,32.600000,19.010417,18.048519,16.231553
13,Fiat Chrysler Automobiles NV,FCAU US Equity,RR900,PE_RATIO,Dynamic,4.732870,4.533141,5.399244,6.511330,6.510079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ford Motor Co,F US Equity,RR900,PE_RATIO,Dynamic,6.874452,6.037837,7.257982,7.902458,6.575504,...,816.000000,693.000000,15.018868,7.958763,10.164948,6.872483,6.950920,6.938389,5.564356,6.561845
15,Ford Otomotiv Sanayi AS,FROTOTRY EO Equity,RR900,PE_RATIO,Dynamic,11.497584,10.423920,12.953816,12.121593,13.249672,...,7.934803,8.223429,9.868421,10.384277,9.584480,9.636720,8.868474,6.908374,6.464903,3.922567
16,GAZ PJSC,GAZA RM Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Geely Automobile Holdings Ltd,175 HK Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,General Motors Co,GM US Equity,RR900,PE_RATIO,Dynamic,5.285741,4.501796,4.607614,5.827700,5.246420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Great Wall Motor Co Ltd,2333 HK Equity,RR900,PE_RATIO,Dynamic,8.406568,5.925093,6.581535,7.334538,11.194273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Guangzhou Automobile Group Co Ltd,2238 HK Equity,RR900,PE_RATIO,Dynamic,7.293040,5.912501,6.560200,5.533914,7.325988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Honda Motor Co Ltd,7267 JP Equity,RR900,PE_RATIO,Dynamic,7.555427,6.998138,5.402985,5.303340,6.196280,...,11.648111,10.576436,11.228140,13.172961,12.162546,10.546022,10.315437,10.670815,10.798808,10.475792
22,Hyundai Motor Co,005380 KS Equity,RR900,PE_RATIO,Dynamic,NaN,11.915535,13.021619,10.367617,11.455257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Kia Motors Corp,000270 KS Equity,RR900,PE_RATIO,Dynamic,NaN,11.361293,12.066002,21.453408,19.595449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Mazda Motor Corp,7261 JP Equity,RR900,PE_RATIO,Dynamic,12.620169,11.134000,11.707150,8.757808,7.654422,...,15.681465,12.962595,14.038050,11.122096,10.607480,14.663994,9.724473,NaN,NaN,NaN
25,Mitsubishi Motors Corp,7211 JP Equity,RR900,PE_RATIO,Dynamic,8.693832,8.400781,10.752112,11.659844,10.535788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Nissan Motor Co Ltd,7201 JP Equity,RR900,PE_RATIO,Dynamic,7.634609,7.092387,5.803737,5.792771,5.781194,...,9.655669,9.779917,11.015425,9.640677,10.479248,9.061649,8.772350,NaN,NaN,NaN
27,Peugeot SA,UG FP Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Renault SA,RNO FP Equity,RR900,PE_RATIO,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,SAIC Motor Corp Ltd,600104 CH Equity,RR900,PE_RATIO,Dynamic,8.863603,8.320742,10.382988,10.919896,11.081136,...,14.553073,15.710456,9.535519,9.821958,16.538461,13.782051,9.976905,7.865240,13.636485,14.055837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,FAW CAR Co Ltd,000800 CH Equity,RX539,T12_FCF_YIELD,Dynamic,8.059865,9.800893,9.845510,17.682486,12.477996,...,-5.041069,-9.470094,24.139241,46.383553,37.059848,18.685846,-18.435743,-48.870719,-18.334748,-0.698551
630,Fiat Chrysler Automobiles NV,FCAU US Equity,RX539,T12_FCF_YIELD,Dynamic,22.315272,23.269769,17.037320,18.768565,15.269125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,Ford Motor Co,F US Equity,RX539,T12_FCF_YIELD,Dynamic,20.884083,23.781701,24.492805,20.760114,23.059763,...,31.694033,35.114456,-14.105159,10.982680,36.741138,66.420046,84.399894,73.541222,44.942318,39.190033
632,Ford Otomotiv Sanayi AS,FROTOTRY EO Equity,RX539,T12_FCF_YIELD,Dynamic,6.919174,7.631849,7.378428,7.152459,7.004870,...,7.959751,10.503178,14.232442,10.713452,NaN,NaN,NaN,NaN,NaN,NaN
633,GAZ PJSC,GAZA RM Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,Geely Automobile Holdings Ltd,175 HK Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,General Motors Co,GM US Equity,RX539,T12_FCF_YIELD,Dynamic,11.732873,13.757255,15.686899,12.072317,13.242937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,Great Wall Motor Co Ltd,2333 HK Equity,RX539,T12_FCF_YIELD,Dynamic,0.254660,0.370205,0.278927,-3.454308,-5.452511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,Guangzhou Automobile Group Co Ltd,2238 HK Equity,RX539,T12_FCF_YIELD,Dynamic,-0.759880,-0.908210,-0.840967,2.702379,4.226491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,Honda Motor Co Ltd,7267 JP Equity,RX539,T12_FCF_YIELD,Dynamic,7.948538,8.581510,7.856807,10.006828,8.628595,...,2.284155,2.147085,1.803527,2.537136,5.654233,6.869747,7.474430,NaN,NaN,NaN
639,Hyundai Motor Co,005380 KS Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,7.928390,7.254936,5.511567,2.970353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,Kia Motors Corp,000270 KS Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,17.301077,16.290615,21.998520,13.979446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,Mazda Motor Corp,7261 JP Equity,RX539,T12_FCF_YIELD,Dynamic,8.172700,9.263594,11.303457,12.141121,13.586272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,Mitsubishi Motors Corp,7211 JP Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,Nissan Motor Co Ltd,7201 JP Equity,RX539,T12_FCF_YIELD,Dynamic,29.418687,31.667781,19.197856,19.587814,14.431345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,Peugeot SA,UG FP Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,Renault SA,RNO FP Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,SAIC Motor Corp Ltd,600104 CH Equity,RX539,T12_FCF_YIELD,Dynamic,-15.170377,-16.160120,-12.950433,-5.726299,2.937348,...,6.084646,10.948308,10.265668,9.271777,6.181353,-2.339095,5.147275,3.501871,1.442792,2.066602
647,Sanyang Motor Co Ltd,2206 TT Equity,RX539,T12_FCF_YIELD,Dynamic,-7.597897,-7.616891,-7.431114,-1.377830,-0.803879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,Sollers PJSC,SVAV RM Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,Ssangyong Motor Co,003620 KS Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,32.176849,27.771476,-1.558685,14.673095,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,Subaru Corp,7270 JP Equity,RX539,T12_FCF_YIELD,Dynamic,2.833580,3.412303,2.625776,4.204036,8.068293,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,Suzuki Motor Corp,7269 JP Equity,RX539,T12_FCF_YIELD,Dynamic,5.733622,5.950937,6.053513,8.788972,8.505923,...,3.644665,5.697845,5.332387,4.184336,5.486158,8.009229,7.956594,8.962082,9.087660,6.561948
652,Tata Motors Ltd,TTMT IN Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,Tesla Inc,TSLA US Equity,RX539,T12_FCF_YIELD,Dynamic,-0.005745,-0.005113,-2.633066,-5.804169,-8.691136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
654,Tianjin Faw Xiali Automobile Co Ltd,000927 CH Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,NaN,NaN,-29.555892,-27.735948,...,27.294695,10.639388,13.154525,16.221894,15.753908,15.778441,6.143034,0.093937,-6.040700,-0.686208
655,Tofas Turk Otomobil Fabrikasi AS,TOASOTRY EO Equity,RX539,T12_FCF_YIELD,Dynamic,10.460040,12.378746,-0.961375,9.397215,6.931871,...,-4.150985,8.460486,7.598547,9.312959,NaN,NaN,NaN,NaN,NaN,NaN
656,Toyota Motor Corp,7203 JP Equity,RX539,T12_FCF_YIELD,Dynamic,12.587891,13.204906,11.094837,10.807631,13.106859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,Volkswagen AG,VOW GR Equity,RX539,T12_FCF_YIELD,Dynamic,NaN,-8.416557,-7.732007,-9.256971,-12.979014,...,31.985015,37.677129,23.586832,20.994830,11.504588,13.088328,15.760515,18.595476,NaN,NaN
658,Yulon Motor Co Ltd,2201 TT Equity,RX539,T12_FCF_YIELD,Dynamic,-114.096854,-118.798648,-99.637576,-84.684408,-70.357525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
splits = ["PE_RATIO" ,
          "BEST_EST_PE_CUR_YR",
          "BEST_EST_PE_NXT_YR",
          "PX_TO_BOOK_RATIO",
          "PX_TO_TANG_BOOK_VAL_PER_SH",
          "CURRENT_PX_TO_FREE_CASH_FLOW",
          "PX_TO_SALES_RATIO",
          "EV_TO_T12M_EBITDA",
          "EV_TO_T12M_SALES",
          "EV_TO_MKT_CAP",
          "EV_TO_T12M_CASH_FLOW",
          "EV_TO_T12M_NET_INCOME",
          "EQY_DVD_YLD_IND",
          "EBIT_YIELD",
          "FREE_CASH_FLOW_YIELD",
          "T12_FCF_YIELD"      
         ]

PE_RATIO                       = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[0]]
BEST_EST_PE_CUR_YR             = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[1]]
BEST_EST_PE_NXT_YR             = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[2]]
PX_TO_BOOK_RATIO               = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[3]]
PX_TO_TANG_BOOK_VAL_PER_SH     = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[4]]
CURRENT_PX_TO_FREE_CASH_FLOW   = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[5]]
PX_TO_SALES_RATIO              = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[6]]
EV_TO_T12M_EBITDA              = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[7]]
EV_TO_T12M_SALES               = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[8]]
EV_TO_MKT_CAP                  = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[9]]
EV_TO_T12M_CASH_FLOW           = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[10]]
EV_TO_T12M_NET_INCOME          = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[11]]
EQY_DVD_YLD_IND                = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[12]]
EBIT_YIELD                     = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[13]]
FREE_CASH_FLOW_YIELD           = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[14]]
T12_FCF_YIELD                  = org_ratio_df[org_ratio_df["Field Mnemonic"] == splits[15]]

In [147]:
id_vars =  ["Description", "Ticker","Field Mnemonic","Data State","Field ID"]
val_vars= ['2019 Q1', '2018 Q4', '2018 Q3', '2018 Q2', '2018 Q1', '2017 Q4',
       '2017 Q3', '2017 Q2', '2017 Q1', '2016 Q4', '2016 Q3', '2016 Q2',
       '2016 Q1', '2015 Q4', '2015 Q3', '2015 Q2', '2015 Q1', '2014 Q4',
       '2014 Q3', '2014 Q2', '2014 Q1', '2013 Q4', '2013 Q3', '2013 Q2',
       '2013 Q1', '2012 Q4', '2012 Q3', '2012 Q2', '2012 Q1', '2011 Q4',
       '2011 Q3', '2011 Q2', '2011 Q1', '2010 Q4', '2010 Q3', '2010 Q2',
       '2010 Q1', '2009 Q4', '2009 Q3', '2009 Q2', '2009 Q1', '2008 Q4',
       '2008 Q3', '2008 Q2', '2008 Q1', '2007 Q4', '2007 Q3', '2007 Q2',
       '2007 Q1', '2006 Q4', '2006 Q3', '2006 Q2', '2006 Q1', '2005 Q4',
       '2005 Q3', '2005 Q2', '2005 Q1', '2004 Q4', '2004 Q3', '2004 Q2']

drop_cars = ['    Avtovaz PJSC',
             '    BYD Co Ltd',
             '    Brilliance China Automotive Holdings Ltd',
             '    Chongqing Changan Automobile Co Ltd',
             '    DRB-Hicom Bhd',
             '    Daihatsu Motor Co Ltd',
             '    Dongfeng Motor Group Co Ltd',
             '    FAW CAR Co Ltd',
             '    Ford Otomotiv Sanayi AS',
             '    GAZ PJSC',
             '    Geely Automobile Holdings Ltd',
             '    Great Wall Motor Co Ltd',
             '    Guangzhou Automobile Group Co Ltd',
             '    SAIC Motor Corp Ltd',
             '    Sanyang Motor Co Ltd',
             '    Sollers PJSC',
             '    Ssangyong Motor Co',
             '    Suzuki Motor Corp',
             '    Tata Motors Ltd',
             '    Tianjin Faw Xiali Automobile Co Ltd',
             '    Tofas Turk Otomobil Fabrikasi AS',
             '    Yulon Motor Co Ltd',
             '    Peugeot SA', 
             '    Renault SA'
            ]


PE_RATIO = pd.melt(PE_RATIO,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
BEST_EST_PE_CUR_YR = pd.melt(BEST_EST_PE_CUR_YR,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
BEST_EST_PE_NXT_YR = pd.melt(BEST_EST_PE_NXT_YR,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
PX_TO_BOOK_RATIO = pd.melt(PX_TO_BOOK_RATIO,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
PX_TO_TANG_BOOK_VAL_PER_SH = pd.melt(PX_TO_TANG_BOOK_VAL_PER_SH,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
CURRENT_PX_TO_FREE_CASH_FLOW = pd.melt(CURRENT_PX_TO_FREE_CASH_FLOW,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
PX_TO_SALES_RATIO = pd.melt(PX_TO_SALES_RATIO,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EV_TO_T12M_EBITDA = pd.melt(EV_TO_T12M_EBITDA,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EV_TO_T12M_SALES = pd.melt(EV_TO_T12M_SALES,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EV_TO_MKT_CAP = pd.melt(EV_TO_MKT_CAP,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EV_TO_T12M_CASH_FLOW = pd.melt(EV_TO_T12M_CASH_FLOW,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EV_TO_T12M_NET_INCOME = pd.melt(EV_TO_T12M_NET_INCOME,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EQY_DVD_YLD_IND = pd.melt(EQY_DVD_YLD_IND,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
EBIT_YIELD = pd.melt(EBIT_YIELD,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
FREE_CASH_FLOW_YIELD = pd.melt(FREE_CASH_FLOW_YIELD,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)
T12_FCF_YIELD = pd.melt(T12_FCF_YIELD,id_vars=id_vars,value_vars=val_vars).drop(["Ticker","Field Mnemonic","Data State","Field ID"],axis=1).pivot(index="variable",columns="Description",values=["value"])["value"].drop(drop_cars,axis=1)

In [170]:
dfs_to_be_merged = [PE_RATIO,
                   BEST_EST_PE_CUR_YR,
                   BEST_EST_PE_NXT_YR,
                   PX_TO_BOOK_RATIO,
                   PX_TO_TANG_BOOK_VAL_PER_SH,
                   CURRENT_PX_TO_FREE_CASH_FLOW,
                   PX_TO_SALES_RATIO,
                   EV_TO_T12M_EBITDA,
                   EV_TO_T12M_SALES,
                   EV_TO_MKT_CAP,
                   EV_TO_T12M_CASH_FLOW,
                   EV_TO_T12M_NET_INCOME,
                   EQY_DVD_YLD_IND,
                   EBIT_YIELD,
                   FREE_CASH_FLOW_YIELD,
                   T12_FCF_YIELD  
                  ]

merged_df_ratios = pd.concat(dfs_to_be_merged,axis=1)
merged_df_ratios.head()

Description,AUDI AG,Bayerische Motoren Werke AG,Daimler AG,Fiat Chrysler Automobiles NV,Ford Motor Co,General Motors Co,Honda Motor Co Ltd,Hyundai Motor Co,Kia Motors Corp,Mazda Motor Corp,...,Honda Motor Co Ltd,Hyundai Motor Co,Kia Motors Corp,Mazda Motor Corp,Mitsubishi Motors Corp,Nissan Motor Co Ltd,Subaru Corp,Tesla Inc,Toyota Motor Corp,Volkswagen AG
variable,,,,,,,,,,,,,,,,,,,,,
2004 Q2,NaN,11.882353,NaN,NaN,6.561845,NaN,10.475792,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004 Q3,NaN,10.659164,13.498982,NaN,5.564356,NaN,10.798808,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004 Q4,NaN,9.969970,14.275304,NaN,6.938389,NaN,10.670815,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.595476
2005 Q1,NaN,10.513514,14.794872,NaN,6.950920,NaN,10.315437,NaN,NaN,9.724473,...,7.474430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.760515
2005 Q2,NaN,11.369369,13.440000,NaN,6.872483,NaN,10.546022,NaN,NaN,14.663994,...,6.869747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.088328

In [149]:
PE_RATIO.columns

Index(['    AUDI AG', '    Bayerische Motoren Werke AG', '    Daimler AG',
       '    Fiat Chrysler Automobiles NV', '    Ford Motor Co',
       '    General Motors Co', '    Honda Motor Co Ltd',
       '    Hyundai Motor Co', '    Kia Motors Corp', '    Mazda Motor Corp',
       '    Mitsubishi Motors Corp', '    Nissan Motor Co Ltd',
       '    Subaru Corp', '    Tesla Inc', '    Toyota Motor Corp',
       '    Volkswagen AG'],
      dtype='object', name='Description')

In [137]:
cars_df.columns

Index(['date', 'Audi', 'BMW', 'Mini', 'Mercedes Benz', 'Mitsubishi Fuso',
       'FCA', 'Honda Group', 'Hyundai', 'Isuzu', 'Jaguar Land Rover', 'Kia',
       'Mazda', 'Mitsubishi', 'Nissan', 'Porsche', 'Subaru', 'Tesla',
       'Toyota Group', 'Volkswagen', 'Volvo', 'year', 'month', 'datetime'],
      dtype='object')

In [151]:
merged_df_ratios.head()

Description,AUDI AG,Bayerische Motoren Werke AG,Daimler AG,Fiat Chrysler Automobiles NV,Ford Motor Co,General Motors Co,Honda Motor Co Ltd,Hyundai Motor Co,Kia Motors Corp,Mazda Motor Corp,...,Honda Motor Co Ltd,Hyundai Motor Co,Kia Motors Corp,Mazda Motor Corp,Mitsubishi Motors Corp,Nissan Motor Co Ltd,Subaru Corp,Tesla Inc,Toyota Motor Corp,Volkswagen AG
variable,,,,,,,,,,,,,,,,,,,,,
2004 Q2,NaN,11.882353,NaN,NaN,6.561845,NaN,10.475792,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004 Q3,NaN,10.659164,13.498982,NaN,5.564356,NaN,10.798808,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004 Q4,NaN,9.969970,14.275304,NaN,6.938389,NaN,10.670815,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.595476
2005 Q1,NaN,10.513514,14.794872,NaN,6.950920,NaN,10.315437,NaN,NaN,9.724473,...,7.474430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.760515
2005 Q2,NaN,11.369369,13.440000,NaN,6.872483,NaN,10.546022,NaN,NaN,14.663994,...,6.869747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.088328

In [171]:
merged_df_ratios = merged_df_ratios.reset_index()
merged_df_ratios["Year"] = merged_df_ratios["variable"].apply(lambda x: x.split()[0])
merged_df_ratios["Quarter"] = merged_df_ratios["variable"].apply(lambda x: x.split()[1])
merged_df_ratios.head()

Description,variable,AUDI AG,Bayerische Motoren Werke AG,Daimler AG,Fiat Chrysler Automobiles NV,Ford Motor Co,General Motors Co,Honda Motor Co Ltd,Hyundai Motor Co,Kia Motors Corp,...,Kia Motors Corp,Mazda Motor Corp,Mitsubishi Motors Corp,Nissan Motor Co Ltd,Subaru Corp,Tesla Inc,Toyota Motor Corp,Volkswagen AG,Year,Quarter
0,2004 Q2,NaN,11.882353,NaN,NaN,6.561845,NaN,10.475792,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,Q2
1,2004 Q3,NaN,10.659164,13.498982,NaN,5.564356,NaN,10.798808,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,Q3
2,2004 Q4,NaN,9.969970,14.275304,NaN,6.938389,NaN,10.670815,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.595476,2004,Q4
3,2005 Q1,NaN,10.513514,14.794872,NaN,6.950920,NaN,10.315437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.760515,2005,Q1
4,2005 Q2,NaN,11.369369,13.440000,NaN,6.872483,NaN,10.546022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.088328,2005,Q2

In [173]:
def quart(x):
    if(x=='Q1'):
        return(3)
    elif(x=='Q2'):
        return(6)
    elif(x=='Q3'):
        return(9)
    elif(x=='Q4'):
        return(12)
    
merged_df_ratios["Month"] = merged_df_ratios["Quarter"].apply(lambda x: quart(x))
merged_df_ratios.head()

Description,variable,AUDI AG,Bayerische Motoren Werke AG,Daimler AG,Fiat Chrysler Automobiles NV,Ford Motor Co,General Motors Co,Honda Motor Co Ltd,Hyundai Motor Co,Kia Motors Corp,...,Mazda Motor Corp,Mitsubishi Motors Corp,Nissan Motor Co Ltd,Subaru Corp,Tesla Inc,Toyota Motor Corp,Volkswagen AG,Year,Quarter,Month
0,2004 Q2,NaN,11.882353,NaN,NaN,6.561845,NaN,10.475792,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,Q2,6
1,2004 Q3,NaN,10.659164,13.498982,NaN,5.564356,NaN,10.798808,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,Q3,9
2,2004 Q4,NaN,9.969970,14.275304,NaN,6.938389,NaN,10.670815,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.595476,2004,Q4,12
3,2005 Q1,NaN,10.513514,14.794872,NaN,6.950920,NaN,10.315437,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.760515,2005,Q1,3
4,2005 Q2,NaN,11.369369,13.440000,NaN,6.872483,NaN,10.546022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.088328,2005,Q2,6